html {
    margin: 0;
    padding: 0;
    background-color: #20387e;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 5rem;
    margin: 75px auto;
}
.variables {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto 50px auto;
    flex-basis: 250px;

}
.block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.text {
    color: #fff;
    font-size: 4.5rem;
}
:root{
    --base: #f8cfcf;
    --spacing: 10px;
    --blur: 10px;
}
.JS-text {
    color: var(--base);
}
img {
    margin: 0 auto;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
