html {
    background-image: url(./background.jpg);
    background-size: cover;
    font-size: 10px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
}
.key {
    width: 10rem;
    border: solid .4rem black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    background: rgba(0,0,0,0.4);
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 .5rem black;
    transition: all .07s ease;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}
kbd {
    display: block;
    font-size: 4rem;
}
.sound {
    color: #ffc600;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem; 
}