html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #ffc600;
}
.inbox {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(162, 156, 63);
    border: solid thin #f1e450;
}
.item {
    display: flex;
    gap: 20px;
    padding: 0 20px 0 20px;
    border-bottom: solid 0.5px rgb(169, 169, 169);
}
.item:last-child {
    border-bottom: none;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(99, 99, 99);
}
input:checked + p {
    text-decoration: line-through;
}